{% extends 'base.html' %}


{% block scripts %}
	{{ block.super }}
	{{ review_form.media.js }}
	<script>
		$(function() {
			$("input[name=of_profile]").val(window.location.hash.substr(1))
		})
	</script>
{% endblock %}

{% block content %}
<div class="write-review">
	
	<form method="post" action="{% url reviews.views.write_review domain %}">
		{% csrf_token %}
		<p>
			{{ review_form.of_profile.errors }}
			<label for="id_of_profile">Profile on <span style="font-size: 1.5em;">{{ domain }}</span>:</label> 
			{{ review_form.of_profile }}
		</p>
		<p>
			{{ review_form.title.errors }}
			<label for="id_title">Title:</label>
			{{ review_form.title }}
		</p> 
		<p>
			{{ review_form.text.errors }}
			<label for="id_text">Text:</label> 
			{{ review_form.text }}
		</p>
		{{ review_form.rating.errors }}
		<label for="id_rating">Rating:</label>
		{{ review_form.rating }}

		<p>
			<button type="submit" name="submit" />Post</button>
		</p>
	</form>
	
</div>
{% endblock %}